<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <style>
        body{
        background-image: url(' <%= imgUrl %>');
        background-size: cover;
        background-position: center;
        height: 100vh;
        }
    </style>
</head>
<body>

    <%-include ("partials/nav.ejs") %>
<br>
<!-- <form action="/planet"
<div>
    Select a planet:
    <select name="planetName">
        <option>Mercury</option>
        <option>Mars</option>
        <option>Saturn</option>
        <option>Venus</option>

    </select>
</div>
<br><br>
<div><button>Get Info</button></div>
</form> -->

<form action="/celestialBody">
    <div>
        <select id="drop" name="cometOrAsteroid">
            <option>Comets</option>
            <option>Asteroids</option>
        </select>
    </div>
    <div><button>Display Info</button></div>
</form>
    
    <img src="/img/solar-system.jpg" alt="">


    <br><br>
    <%-include("partials/footer.ejs") %>
</body>