<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

    <h6>NASA</h6>

    <form>
        <label>
            Month
            <select id="month" name="monthSelected">
                <option value="none">Select A Month</option>
                <option value="01">Jan</option>
                <option value="02">Feb</option>
                <option value="03">Mar</option>
                <option value="04">Apr</option>
                <option value="05">May</option>
                <option value="06">Jun</option>
                <option value="07">Jul</option>
                <option value="08">Aug</option>
                <option value="09">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
        </label>
        <br>
        <label>Day
            <input type="number" name="daySelected" min="1" max="31">
        </label>
        <br>
        <label>
            Year
            <input type="text" name="yearSelected">
        </label>
        <br>
        <button>Display Image</button>
    </form>

  <br><br>

  <%-include("partials/footer.ejs") %>
</body>
</html>