<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container"> <!-- Use 'container' for responsive padding -->
        <div class="navbar-nav mx-auto"> <!-- Center-align or control spacing with 'mx-auto' -->
            <a class="nav-link px-3" href="/">Home</a>
            <a class="nav-link px-3" href="/authors/new">Add Author</a>
            <a class="nav-link px-3" href="/quotes/new">Add Quote</a>
            <a class="nav-link px-3" href="/authors">View Authors</a>
            <a class="nav-link px-3" href="/quotes">View Quotes</a>
            <a class="nav-link px-3" href="/authors/delete">Delete Authors</a>
            <a class="nav-link px-3" href="/quotes/delete">Delete Quotes</a>
            <a class="nav-link px-3" href="/logout">Logout</a>
        </div>
    </div>
</nav>
