<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head.ejs") %>
</head>
<body>
  <%- include("partials/nav.ejs") %>

  <form action="/rock">
<div>
    Select a planet:
    <select name="rockName">
        <option>Comets</option>
        <option>Asteroids</option>
    </select>
</div>
<br><br>
<div><button>Get Info</button></div>
</form>

  <img src="/img/solar-system.jpg">

  <br><br>

  <%-include("partials/footer.ejs") %>

</body>
</html>