*{
    text-align: center;
}

#rubric{
    justify-content: center;
    display: flex;
}

#title{
    font-size: 50px;
    color: red;
    font-weight: 900;
    background-color: blue;
    padding: 10px;
}

#q1{
    font-size: 35px;
    color: blue;
}

#dropdown{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}