<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <title>Lab 7: Famous Quotes</title>
</head>
<body class="text-center">

    <h1>Admin Section</h1>

    <form action="/authors/new">
        <button>Add Authors</button>
    </form>

    <br>

    <form action="/quotes/new">
        <button>Add Quotes</button>
    </form>

    <br>

    <form action="/authors">
        <button>Display Authors</button>
    </form>

    <br>
    <form action="/quotes">
        <button>Display Quotes</button>
    </form>
    
</body>
</html>