<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Author</title>
</head>
<body>
    
    <h1>New Author</h1>

    <form action="/author/new" method="POST">

    <h3>First Name:</h3>
    <input type="text" name="firstName">

    <h3>Last Name:</h3>
    <input type="text" name="lastName">

    <h3>Date of Birth</h3>
    <input type="date" name="dob">

    <h3>Date of Death</h3>
    <input type="date" name="dod">

   Sex:
   <input type="radio" value="M" name="sex">Male
   <input type="radio" value="F" name="sex">Female

    <br>
    
    <br>

    Bio:
    <textarea id="w3review" name="textArea" rows="4" cols="50"></textarea>

    <br><br>

    Picutre URL:
    <input type="text" name="picture">




    


    <br><br><br>
    <button>Add Author</button>

</form>

<script src="/js/author.js"></script>

</body>
</html>