<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <title>New Author</title>
</head>
<body class="text-center">
    
    <h1>New Author</h1><br><br>

    <form action="/author/new" method="POST">

    <h3>First Name:</h3>
    <input type="text" name="firstName"><br><br>
    <h3>Last Name:</h3>
    <input type="text" name="lastName"><br><br>

    <h3>Date of Birth</h3>
    <input type="date" name="dob"><br><br>

    <h3>Date of Death</h3>
    <input type="date" name="dod"><br><br>

   <h3>Sex:</h3>
   <input type="radio" value="M" name="sex">Male
   <input type="radio" value="F" name="sex">Female

    <br>
    
    <br>

    <h3>Bio:</h3>
    <textarea name="textArea" rows="4" cols="50"></textarea><br><br>


    <h3>Picutre URL:</h3>
    <input type="text" name="picture">




    


    <br><br><br>
    <button>Add Author</button>

</form>

<script src="/js/author.js"></script>

</body>
</html>