<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("partials/head.ejs") %>
    <title>Quotes List</title>
</head>
<body class="text-center">
    <%-include ("partials/nav.ejs") %>
    <h1>Quotes</h1>

    <% for (let i of quotes) { %>
        [ <a href="/quote/edit?quoteId=<%= i.quoteId%>">Update</a> ] <%= i.quote %> <br>
     <% } %>
</body>
</html>