<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - SQL Practice</title>
</head>
<body>

    <h1>Famous Quotes Reports</h1>

    <form action="/allAuthors"> 
        <button>All Authors</button>
    </form>

    <br>

    <form action="/femaleAuthors"> 
        <button>Female Authors</button>
    </form>

    <br>
    <form action="/americanMaleAuthors"> 
        <button>American Male Authors</button>
    </form>

    <br>
    <form action="/birthPlaces"> 
        <button>Author's Birth Countries</button>
    </form>

    <br>
    <form action="/cAuthors"> 
        <button>Author's whose last name starts with C</button>
    </form>

    <br>
    <form action="/quotes"> 
        <button>Alphabetical Quotes</button>
    </form>

    <br>
    <form action="/inspirationsalQuotes"> 
        <button>Inspirational Quotes</button>
    </form>

    <br>
    <form action="/lifeQuotes"> 
        <button>Life Quotes</button>
    </form>

    <br>
    <form action="/wisdomQuoteThings"> 
        <button>Wisdom Quote Things</button>
    </form>

    <br>
    <form action="/quoteWithLikes"> 
        <button>Quotes with Likes</button>
    </form>

    <br>
    <form action="/uniqueCat"> 
        <button>Unique Categories</button>
    </form>

    <br>
    <form action="/topThree"> 
        <button>Top 3</button>
    </form>

    <br>
    <form action="/authorPics"> 
        <button>Top 3</button>
    </form>
    
</body>
</html>