<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comic Page</title>
</head>
<body>
    <% for(let i= 0; i < rows.length; i++) { %>
        <h1> <%= rows[i].comicTitle %> </h1>
        <img src="<%= rows[i].comicUrl %>" alt="<%= rows[i].comicTitle %>" style="width: auto; height: auto;">
    <% } %>
</body>
</html>