<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Home</h1>
    <% for(let i = 0; i < rows.length; i++) { %>
        <h1>
            <a href="/comicPage?comicSiteId=<%= rows[i].comicSiteId %>">
                <%= rows[i].comicSiteName %>
            </a>
        </h1>
        <a href="<%= rows[i].comicSiteUrl %>"> <%= rows[i].comicSiteUrl %> </a>
    <% } %>
</body>
</html>